.main-content
{
    width: 100%;
}
table tr, td
{
    margin: 0;
    padding: 0;
}
.games-row
{
    margin: 0;
    width: 100%;
}
.game-table
{
    width: 50%;
    float: left;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.game-table img
{
    width: 200px;
    height: 200px;
}
.cell-2
{
    vertical-align: top;
    padding-left: 25px;
}
.text-table h3 /* Title */
{
    margin: 0;
    padding: 0;
}
.text-table p /* Subtitle */
{
    margin: 0;
    padding: 0;
}
.icon /* Icons */
{
    color: white;
    text-align: center;
    line-height: 60px;
    background-color: palevioletred;
    width: 60px;
    height: 60px;
    border: 2px solid darkred;
}
.left-bar
{
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 16%;
    overflow: hidden;
    height: 800px;
}
.main-bar
{
    border: 2px solid black;
    float: left;
    width: 84%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.smallCell
{
    width: 50%;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
.textBox
{
    margin: 0 20px;
}