body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkred;
}
#container
{
    width: 100%;
    height: 100%;
}
#top-bar
{
    margin-top: 60px;
    height: 50px;
    width: 100%;
    background-color: yellow;
}
#mainBtn
{
    margin: 5px 0px 5px 5px;
    padding: 10px 30px;
}
#left-bar
{
    width: 15%;
    height: 100%;
    float: left;
    background-color: darkred;
    margin: 0 auto;
    text-align: center;
}
#left-bar img
{
    height: 200px;
    width: 200px;
    background-color: green;
    padding: 0px;
    margin-top: 10px;
    border-radius: 3px;
}
#right-bar
{
    float: left;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}
#bottom
{
    margin: 10px auto;
    width: 100px;
    height: 650px;
    background-color: pink;
}
.game-row
{
    height:225px;
    margin: 30px 60px;
}
.game-row > div
{
    width: 33%;
    height: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.game-row img
{
    height: 225px;
    width: 225px;
    border-radius: 5%;
    border: 1px solid white;
}
.game-row h1, p
{
    padding-top: 10px;
    margin: auto 10px;
    text-align: left;
}
.game-row h1
{
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
a, a:hover, a:visited
{
    text-decoration: none;
}.icons
 {
     list-style: none;
 }
.icons li
{
    margin: 10px 20px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    background-color: orangered;
    border: 2px solid white;
    border-radius: 100%;
    font-weight: bold;
    color: white;
}
.launchBtn
{
    padding: 20px 50px;
    font-weight: bold;
    background-color: red;
    margin-top: 25px;
    color: white;
}
#card
{
    width: 100%;
    height: 100%;
}
.front
{
    width: 100%;
    height: 100%;
}
.back
{
    margin-top: 200px;
    background-color: lawngreen;
    height: 800px;
    width: 100%;
}
/*---------------------------------------*/
table tr, td
{
    margin: 0;
    padding: 0;
}
.games-row
{
    margin: 0;
    width: 100%;
}
.game-table
{
    width: 50%;
    float: left;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.game-table img
{
    width: 200px;
    height: 200px;
}
.cell-2
{
    vertical-align: top;
    padding-left: 25px;
}
.text-table h3 /* Title */
{
    margin: 0;
    padding: 0;
}
.text-table p /* Subtitle */
{
    margin: 0;
    padding: 0;
}
.icon /* Icons */
{
    color: white;
    text-align: center;
    line-height: 60px;
    background-color: palevioletred;
    width: 60px;
    height: 60px;
    border: 2px solid darkred;
}
.left-bar-game
{
    background-color: lightblue;
    border-bottom: 5px solid cadetblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-bar
{
    height: 100%;
    float: left;
    width: 84%;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
.smallCell
{
    border: 1px solid black;
    width: 50%;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
.textBox
{
    margin: 0 20px;
}
.textBox tr
{
    width: 100%;
}
.stenDesign{
    align-content: center;
    height: 500px;
    width: 500px;
    /*padding: 0;*/
    margin: auto;
    background-image: url("../img/RSP-BG.jpg");
    background-size: cover;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-top: 70px;
}

