html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    margin: 0;
}

video.video-container{
    position: fixed;
    right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
    margin: 0 auto;
    -webkit-filter: blur(4px);

}
#video-index{ background: url(video/background-ice.webm) no-repeat;  }
#video-contact{ background: url(video/background-typing.mp4) no-repeat;  }
.header{
    position: fixed;
    background-color: transparent;
    z-index: 2;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    margin-bottom: 35px;
    vertical-align: top;
}
.filter {
    height: 70px;
    z-index: 1;
    position: fixed;
    bbackground: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.2), rgba(0,0,0,0.0));
    background-color: black;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    opacity: 0.1;
    padding: 30px;
}



#headerTable {
    width:100%;
}
#headerTable td{
    vertical-align: top;
}
#headerTable img{
    margin-left: 10px;
    height: 70px;
    width: 250px;
    cclip: rect(40px, 30px, 150px, 0px);
    mmargin: -90px -120px 200px -10px;
    object-fit: cover;
}

#coverUp {
    background-image: url("../img/4.jpg");
    height: 285px;
    background-size: cover;
}

#coverUp p {
    padding: 150px;
    font-size: 22px;
    transform: rotate(2deg);
}
#coverUp span{
    background-color: #a3f8ff ;
}


#housame,#tommy{
    background-color: black;
    color: white;
}
#mauricio{

}
.person{

    font-size: 18px;
    width: 100%;
}
.person table
{
    width: 80%;
    margin: 0 auto;
}
.person img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 8px black;
    border-radius: 50%;
}
.person td{

    padding-left: 20px;
    bborder: 1px solid black;
}

.socialMedia img{
    height: 50px;
    width: 50px;
}
.menu-icon{
    padding: 5px 0;
    float:right;
    width:100px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main-content {
    transition: margin-left 0.5s;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
}
.slogan {
    z-index: 1;
    height: 100%;
    margin-top: 15%;
    text-align: center;
    background-color: black;
    font-size: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.2), rgba(0,0,0,0.0));
    left:0;
    right: 0;
    top: 0;
    opacity: 0.6;
}
.slogan2 {
    font-family: Algerian,  Times, "Times New Roman", Serif ;
    text-align: center;
    z-index: 2;
    margin: 5%;
    font-weight: bold;
    color: white;
}
/* footer styling*/
.footer{
    position: absolute;
    margin-bottom: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    flex-grow:5;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}
.footer span{text-align: center}
.first-ft-div{display:inline-block;
    width: 30%;
    float: left;}
.second-ft-div{display:inline-block;
    width: 30%;
    padding-left: 250px}
.third-ft-div{display:inline-block;
    width: 30%;
    padding-left: 100px;
    float: right;}
.copyrights{
    margin-left: 45%;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.form-style{
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    margin-top: 10%;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}
.form-style fieldset{
    border: none;
}
.form-style legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style label {
    display: block;
    margin-bottom: 8px;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style textarea,
.form-style select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style textarea:focus,
.form-style select:focus{
    background: #d2d9dd;
}
.form-style select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style input[type="submit"],
.form-style input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    /*border-width: 1px 1px 3px;*/
    margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
    background: #109177;
}
